/* цвета */

/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121 */
/* белый текст и фон #FFFFFF  */
/* акцент #2196F3 */
/* цвет фона шапки и футера #2F303A */
/*цвет фона секции наша команда и фона радиокнопок #F5F4FA */
/* цвет ховера кнопки заказать услугу #188CE8 */

/*переменные*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --head-footer-bgcolor: #2f303a;
    --secondary-bgcolor: #f5f4fa;
    --secondary-accent-color: #188ce8;
}

/*body*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.link {
    text-decoration: none;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
} 

.header-nav-link {
    color: var(--title-text-color);
}

.header-nav-studio {
    color: var(--accent-color);
}

.header-contact-link {
    color: var(--primary-text-color);
}

.hero {
    background-color: var(--head-footer-bgcolor);

    text-align: center;
}

.hero-title {
color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    vertical-align: top;
    letter-spacing: 0.06em;

    background-color: var(--head-footer-bgcolor);
}

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.06em;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-align: left;
    vertical-align: bottom;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}

.features-list {
    background-color: var(--primary-white-color);
    text-align: left;
}

.services-title {
    color: var(--title-text-color);
    vertical-align: center;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    
}

