:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3;
--primary-white-color: #ffffff;
--head-footer-bgcolor: #2f303a;
--secondary-bgcolor: #f5f4fa;
--secondary-accent-color: #188ce8;
--topline-color: #ececec;
--boder-portfolio-color: #eeeeee;
}

/*body*/
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.link {
    text-decoration: none;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
} 

.service-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.impotent {
    padding-bottom: 94px;
    padding-top: 94px;
}

.services {
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-prtf {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    border-bottom: 1px solid var(--topline-color);
}

.container.topline {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.header-nav-link {
    color: var(--title-text-color);
}

.header-nav-main .item:not(:first-child) {
    margin-left: 50px;
}

.header-nav-main {
    color: var(--accent-color);
}

.header-contact-link {
    color: var(--primary-text-color);
}

.hero {
    background-color: var(--head-footer-bgcolor);

    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    width: 696px;
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;

    text-transform: uppercase;

    margin: 0 auto 30px;
}

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.06em;

    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--secondary-accent-color);
}

.services-title, .team-title {
    color: var(--title-text-color);
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        margin-top: 0;
        margin-bottom: 50px;
}

.feature-title {
        color: var(--title-text-color);
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;

}

.features-list {
    background-color: var(--primary-white-color);
    text-align: left;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;
}

/* .services-title {
    color: var(--title-text-color);
    vertical-align: center;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    
}
*/
.team {
    background-color: var(--secondary-bgcolor);
}

/* .team-title {
        color: var(--title-text-color);
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            vertical-align: top;
            letter-spacing: 0.03em
}
*/

.title, .team-member-name, .h2-prtf {
    color: var(--title-text-color);
    
        margin-top: 0;
        margin-bottom: 10px;
}

.team-member-role {
    font-weight: 400;
}

.team-member-name, .team-member-role {
        font-size: 16px;
        line-height: 1.17;
        text-align: center;
        vertical-align: top;
        letter-spacing: 0.03em;
}

.footer {
    background-color: #2f303a;
}

.logo.white {
    color: var(--primary-white-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-align: left;
        vertical-align: top;
        letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--accent-color);
}

.footer-adress-link {
    color: var(--primary-white-color);

    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/*portfolio*/

.hero-category-list {
    background-color: white;
    text-align: left;
}

.сategory:hover, .category:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.category {
    color: var(--title-text-color);
    background-color: var(--secondary-bgcolor);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;  
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.03em;
}

.portfolio-list .title {
    margin-bottom: 4px;
}

.hero-prtf  {
    background-color: white;
}

.list-prft {
    list-style: none;
}

.link-prtf {
    text-decoration: none;
}

.link-prtf > .p-prtf {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
}

