:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --head-footer-bgcolor: #2f303a;
    --secondary-bgcolor: #f5f4fa;
    --secondary-accent-color: #188ce8;
    --topline-color: #ececec;
    --boder-portfolio-color: #eeeeee;
    --client-color: #afb1b8;
    --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* общие */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* секции */
.impotent {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-bgcolor);
}

.hero-prtf {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: white;
}

/* hero */
.hero {
    text-align: center;

    width: 100%;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

    background-image:
        linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0)),
        url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

.hero-title {
    width: 696px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.title .h2-prtf{
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.portfolio-list .h2-prtf {
    margin-bottom: 4px;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;
}

/* контейнер */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* логотип */
.logo.white {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

/* хедер */
.header {
    border-bottom: 1px solid var(--topline-color);
}

.container.topline {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.site-nav .item:not(:first-child) {
    margin-left: 50px;
}

.nav-topline {
    display: flex;
    align-items: center;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact .item + .item {
    margin-left: 30px;
}

.contact-link .icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}

.icon.post {
    width: 16px;
    height: 12px;
}

.icon.tell {
    width: 10px;
    height: 16px;
}

.contact.list .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color 250ms var(--function-animation);
}

.contact .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

.link-contact:hover,
.link-contact:focus {
    background-color: var(--accent-color);
}

.link-contact:hover .icon-contact,
.link-contact:focus .icon-contact{
    color: var(--primary-white-color);
}

.icon-contact {
    color: var(--client-color);
}

.team-member {
    text-align: center;
    padding-bottom: 30px;
    /* чтобы не липли к краю карточки */
}

.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 16px;
    /* отступ от должности */
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.item-contact {
    display: flex;
}

.link-contact {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
}

/* кнопка */
.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.06em;
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

/* модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms var(--function-animation);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: transform 250ms var(--function-animation),
        opacity 250ms var(--function-animation);
}

/* кнопка закрытия */

.close-button {
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    margin: 0;
    padding: 0;

    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    transition: color 250ms var(--function-animation),
        border 250ms var(--function-animation);
}

.close-button:hover,
.close-button:focus {
    border: 1px solid var(--secondary-accent-color);
    color: var(--accent-color);
}

.close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: currentColor;

    /* width: 11px;
  height: 11px; */
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
}

/* features */

.impotent {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
}

.features-list {
    display: flex;
    justify-content: space-between;
    /* равные промежутки между элементами */
    flex-wrap: wrap;
    /* чтобы на маленьких экранах переносилось */
    gap: 30px;
    /* расстояние между карточками */
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-item {
    flex: 1 1 270px;
    /* ширина карточки примерно 270px, адаптивно */
    text-align: center;
    background-color: var(--primary-white-color);
}

.icon-impotent {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
}

.feature-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: var(--title-text-color);
    margin: 0 0 15px;
}

.feature-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    margin: 0;
}

/* заголовки секций */
.services-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.services-list.list {
    display: flex;
}

.services-list.list .service-item:not(:last-child) {
     margin-right: 30px;
 }

.section.works {
    padding-bottom: 94px;
}

/*чем мы занимаемся */

.list.skill .title {
    text-transform: uppercase;
}

.list.activity {
    display: flex;
}

.list.activity .item:not(:last-child) {
    margin-right: 30px;
}

.work-thumb {
    position: relative;
    display: inline-block;
    /* или block, если нужно */
}

.work-thumb img {
    display: block;
    width: 100%;
    height: auto;
}

.work-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* тянем по ширине картинки */
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
}

.work-text {
    margin: 0;
}

.service-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-list {
    display: flex;
}

.members-title {
     padding-top: 30px;
     padding-bottom: 30px;
 }

.team-list .team-member:not(:last-child) {
    margin-right: 30px;
}

.team-list .team-member-name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.17;
     text-align: center;
     letter-spacing: 0.03em;
 }

.team-member {
    width: 270px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title,
.team-member-name,
.h2-prtf {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.team-member-role {
    font-weight: 400;
}

.team-member-name,
.team-member-role {
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.03em;
}

/* Постоянные клиенты */

.client {
    display: flex;
    justify-content: center;
    /* центрируем */
    align-items: center;
    gap: 30px;
    /* расстояние между блоками */
    padding: 0;
    margin: 0;
}

.clients {
    padding: 94px 0;
}

.link-client {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--client-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    color: var(--client-color);

    transition: color 250ms var(--function-animation),
        border-color 250ms var(--function-animation);
}

.link-client:hover,
.link-client:focus {
    border-color: var(--accent-color);
}

.link-client:hover .client-icon,
.link-client:focus .client-icon {
    fill: var(--accent-color);
}

.client-icon {
    fill: currentColor;
}

.clients .section-title {
    margin-bottom: 50px;
    text-align: center;
}

.client-icon {
    fill: currentColor;
    transition: fill 250ms var(--function-animation);
}

.client-icon {
    fill: var(--client-color);
    transition: fill 250ms var(--function-animation);
}

/* portfolio */
.title-prtf {
     padding: 20px 24px;
     border-bottom: 1px solid var(--boder-portfolio-color);
     border-left: 1px solid var(--boder-portfolio-color);
     border-right: 1px solid var(--boder-portfolio-color);
     background-color: var(--primary-white-color);
 }

.portfolio-item {
    width: 370px;
    height: 404px;
}

.hero-category-list.list {
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
 }

.hero-category-list.list>.item:nth-child(n + 2) {
    margin-left: 8px;
}

.hero-category-list {
    background-color: white;
    text-align: left;
}

.сategory:hover,
.category:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.category {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-text-color);
    background-color: var(--secondary-bgcolor);
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
        border: 0;
}

.category:hover,
.category:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    list-style: none;
        display: flex;
        flex-wrap: wrap;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.title-prtf .p-prtf {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
    letter-spacing: 0.03em;
    margin: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list .title {
    margin-bottom: 4px;
}

.list-prft {
    list-style: none;
}

.link-prtf {
    text-decoration: none;
}

.link-prtf>.p-prtf {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
}

/* ================= ФУТЕР ================= */

.footer {
    background-color: var(--head-footer-bgcolor);
    padding: 60px 0;
}

/* Контейнер футера */
.container.bottom {
    display: flex;
    align-items: baseline;
}

/* Отступ между колонками */
.container.bottom .bottom-box:not(:last-child) {
    margin-right: 70px;
}

/* Логотип */
.logo.white {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

/* Адрес */
.adress {
    padding: 0;
    margin: 0;
}

.adress .item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-link {
    color: var(--primary-white-color);
    font-style: normal;
    text-decoration: none;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    transition: color 250ms var(--function-animation);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    transition: color 250ms var(--function-animation);
}

.adress-link:hover,
.adress-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/* Заголовок соцсетей */
.text-footer {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

/* Соцсети */
.footer .social-contact {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.link-contact.footer-contact {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--function-animation);
}

.link-contact.footer-contact:hover,
.link-contact.footer-contact:focus {
    background-color: var(--accent-color);
}

.icon-contact {
    fill: currentColor;
}
/*
.footer-adress-link {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}