.logo {
  @extend %link;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.03em;

  color: $title-text-color;

  &--white {
    color: $primary-white-color;
  }

  &__accent {
    color: $accent-color;
  }
}
