.invisible-title {
  @extend %visually-hidden;
}

.portfolio-nav__list {
  @extend %list;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.portfolio-nav__item {
  width: 370px;
  height: 404px;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
