$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$head-footer-bgcolor: #2f303a;
$secondary-bgcolor: #f5f4fa;
$secondary-accent-color: #188ce8;
$topline-color: #ececec;
$boder-portfolio-color: #eeeeee;
$client-color: #afb1b8;
$box-shadow-color-one: rgba(0, 0, 0, 0.15);
$function-animation: cubic-bezier(0.4, 0, 0.2, 1);
